{% load static %}
{% load humanize %}
{% for instance in data %}

<div class="col-md-4 {{ instance.sentiment }}">

    <div class="card mb-3">
        <div class="card-body">
        <p>@{{ username }}</p>
        <p class="card-text">{{ instance.tweets }}</p>

        <div class="d-flex justify-content-around">
            <span><i class="fa fa-heart text-danger" aria-hidden="true"></i> {{ instance.likes|intcomma }}</span>
            <span><i class="fa fa-retweet text-primary pl-3" aria-hidden="true"></i> {{ instance.retweets|intcomma }}</span>
            <span>
                {% if  instance.sentiment  == 1 %}
                <i class="fas fa-smile emote-color"></i>
                <span>Positive</span>
                {% elif instance.sentiment == 0 %}
                 <i class="fas fa-meh emote-color"></i>
                <span>Neutral</span>
                {% else %}
                 <i class="fas fa-frown emote-color"></i>
                <span>Negative</span>
                {% endif %}
            </span>
        </div>
        </div>
    </div>


</div>


{% endfor %}